* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.li{
    list-style-type: none;

}
.a {
    text-decoration: none;
}
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

.cabin-<uniquifier> {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.header {
    width: 100%;
    padding: 2%;
    /* background-color: lightcoral; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    gap:10px;
}
@media (max-width: 500px)
{
    .header { justify-content: end;
    }
}
.header .h1 {
    /* background-color: pink; */
    margin: auto 100px;
    width: 100%;
    max-width: 100px;
    
}

.header .h1 .logo {
    /* width:50px; */
    text-decoration: none;
    
  }

.header .logo .img {

    width: 100%;
    max-width: 200px;
}
.header .nav {
  /* background-color: aqua; */
  margin: auto 100px;
}

.header .nav .ul {
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-center;
    align-content:center ;
    gap: 20px;
}
@media (max-width:960px)
{
	.header .nav .ul {
		display:none;
	}
}
.header .nav .ul .li {

}
.header .nav .ul .li .a {
font-family:"Cabin", sans-serif ;
text-transform: uppercase;
color: black;
}
.main {

}

.main .inside {
    width: 100%;
    height: 100vh;
    background-image:url(../assets/io3bg.jpg);
    /* background-color: blue; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;

}

.main .inside .h2 {
    width: 100%;
    max-width: 960px;
    /* background-color: blanchedalmond; */
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.main .inside .h2 .a {
    width: 100%;
    max-width:700px ;
    font-style: italic;
    
}
.main .inside .h2 .a .img {
    width: 100%;
    max-width: 800px;
}


.column {
    margin: 100px auto ;
    width: 100%;
    max-width: 1200px;
    min-height: 60vh;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    gap: 30px;
}
@media (max-width:700px) {
    .column {
        flex-flow: column;    
    }
}
.column .article {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    gap: 15px;
}

.column .article .a {
    display:inline-block;
}

.column .article .a .img {
    width: 100%;
    height: 100%;
}

.column .article .h3 {
    margin: 0 auto;
    text-transform: uppercase;
    font-family: Cabin; 
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.737);
}



.footer {
    width: 100%;
    margin: 2rem auto;
    /* background-color: black; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.footer .redes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.footer .redes .li {

}

.footer .redes .li .a {

}

.footer .redes .li .a .img {
    width: 30px;
    max-width: 30px;
}


.footer .politicas {
    width: 100%;
    max-width: 700px;
    /* background-color: gray; */
    margin: auto;
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-center;
    align-content:flex-start ;
    gap: 5px;
}
@media(max-width:900px)
{.footer .politicas {
    max-width: 350px;}
}
.footer .politicas .li {
    margin: auto; 
}

.footer .politicas .li .a {
  margin-right: 5px;
  text-decoration: underline;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.536);
  font-family:"Cabin", sans-serif ;
  line-height: 1.5;
  letter-spacing: 1.5px;
}


.Footer-span {
    text-transform: uppercase;
    font-family:"Cabin", sans-serif ;
    color: rgba(0, 0, 0, 0.536);
    letter-spacing: 2px;
}

.Boton {
    margin: auto ;
    width: 100%;
    max-width: 400px;
    padding: 20px 40px;
    background-color: rgb(211, 211, 211);
    color:green;
    border: 1px solid green;
    
}